{% extends "base.html" %}
{% block title %}{{super()}} - Change Password{% endblock %}
{% block content %}
<form method="POST">
    <fieldset>
        <legend>Change Password for node {{node.name}}</legend>
        <div class="clearfix">
            <label for="">Password</label>
            <div class='input'>
                <input type="text" name="password">
            </div>
        </div>
                <div class="actions">
            <button type="submit" class="btn">submit</button>
        </div>
    </fieldset>
</form>
{% endblock %}
